@model WebApplication5.Models.UserData

<img src=@Model.photo_50 vspace="10">
<h3>@Model.first_name @Model.last_name</h3>

    <a href="https://oauth.vk.com/authorize?client_id=5760826&display=popup&redirect_uri=http://localhost:1501/Home/About&scope=offline">Войти</a>
